/* Navbar */
.logo-nav {
    width: 10vw;
    min-width: 300px;
    padding: 2rem;
}

/* hx A0DAB3 - RGB 160 218 179 */
.bg-corp {
    background-color: #A0DAB3;
}

.btn-wpp {
    background-color: #62BF8A;
    color: #ffffff;
}

.nav-item a{
    font-size: 1rem;
}

.nav-item a img{
    width: 70%;
}

.container-medios {
    display: inline-block;
}

/* .contenedor-nav-link {
    display: flex;
    flex-direction: column;
} */

.nav-ul,
.contenedor-nav-link {
    align-items: baseline;
    justify-content: center;
}

#navbarNav {
    justify-content: space-around;
}

/* main media queries navbar */

@media (min-width: 320px) and (max-width: 768px) {

    .container-medios li {
        padding: 1rem;
    }

}

/* main section */
header {
    background-image: url(../img/banner.jpg);
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 4rem;
}

.main-title {
    width: 350px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 64px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.main-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 48px;
    width: 158px;
    height: 53px;
    background: #62BF8A;
    border-radius: 8px;
}


main-btn:focus{
    background-color: cadetblue;
}

.main__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.contactar{
    text-decoration: none;
    color: #ffffff;
}

.contactar:hover{
    color: #C4C4C4;
}

/* main media queries header */

@media (min-width: 320px) and (max-width: 768px) {

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }

    .main-title {
        width: 320px;
        font-size: 2rem;
        line-height: 3rem;

    }

    .main-btn {
        align-items: center;
    }

    .main__text {
        font-size: 1.5em;
    }

}


/* section Nosotros */

.nosotros,
.servicios,
.FAQS {
    margin: 121px 0;
}


.principios_content,
.objetivos_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principios-parrafo,
.objetivo_parrafo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 2rem;
    color: #666666;
}

.nosotros-titulo,
.servicios-titulo,
.FAQS-titulo,
.contacto-titulo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 64px;
    text-align: center;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #62BF8A;
}

.nosotros-parrafo,
.servicios-parrafo,
.FAQS-parrafo,
.contacto-parrafo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
    color: #666666;
    margin: 0 auto;
    width: 60%;

}

.nosotros-principios {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 43px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #58585A;
}

.nosotros-objetivo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 43px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #58585A;
}


/* Section Servicios */
.tasaciones-img,
.venta-img,
.compra-img,
.alquileres-img,
.admin-img,
.asesoria-img {
    display: inline-block;
    background: #FAFAFB;
    box-shadow: 0px 16px 56px #BDE1C7;
}

.tasaciones-content-text,
.venta-content-text,
.compra-content-text,
.alquileres-content-text,
.admin-content-text,
.asesoria-content-text {
    display: inline-block;
    width: 80%;
    margin: 20px;
}

.tasaciones-titulo,
.venta-titulo,
.compra-titulo,
.alquileres-titulo,
.admin-titulo,
.asesoria-titulo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #333333;
}

.tasaciones-parrafo,
.venta-parrafo,
.compra-parrafo,
.alquileres-parrafo,
.admin-parrafo,
.asesoria-parrafo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}


.servicios-btn-content {
    margin: 50px 0 121px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicios__btn {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
    background-color: #62BF8A;
    padding: 16px 48px;

}

.servicios-link {
    text-decoration: none;
    color: #ffffff;
}

/*FAQS*/

.preguntas {
    margin: 100px 0px;
}

.grid-layout {
    display: grid;
    height: 816px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;


}

@media (max-width: 768px){
    .grid-layout{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
    }
}

.nav-faqs {
    text-align: center;
    margin: 50px auto;

}

.nav-faqs a {
    margin-right: 30px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    color: #CCCCCC;
}

.nav-faqs a:last-of-type {
    margin-right: 0;
}

.selected {
    text-decoration: underline;
}

.box-1:hover,
.box-2:hover,
.box-3:hover,.box-4:hover{
    transition: ease-in-out;
    
    
    
}

.box:hover {
    background: #62bf8a;
    transition: 0.5s ease-in-out;
    overflow: hidden;
 
    
}

.box a:hover{
    text-decoration: none;
}

.box-1 {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #C4C4C4;
    grid-row-start: 1;
    grid-row-end: 3;
    align-items: flex-end;
    background-image: url(../img/venta.jpg);
    opacity: 0.7;
    background-size: cover;


}

.box-2 {
    display: flex;
    align-items: flex-end;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #C4C4C4;
    background-image: url(../img/compra.jpg);
    opacity: 0.7;
    background-size: cover;

}

.box-3 {
    display: flex;
    align-items: flex-end;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #C4C4C4;
    background-image: url(../img/tasaciones.jpg);
    opacity: 0.7;
    background-size: cover;

}

.box-4 {
    display: flex;
    align-items: flex-end;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #C4C4C4;
    background-image: url(../img/alquiler.jpg);
    opacity: 0.7;
    background-size: cover;

}    


@media (max-width:768px){
    .box-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    
    }

    .box-2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    }

    .box-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    }

    .box-4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    }
}

.grid-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    width: 70%;
    margin: 0 auto;
    font-feature-settings: 'pnum'on, 'lnum'on;
    margin-bottom: 100px;
    text-shadow: 1px 1px 2px black;
    

}


/*Contacto*/

input {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
}

.imagen-contacto {
    margin-left: 0;
}

.boton-contacto {
    color: #ffffff;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    padding: 16px 48px;
    width: 158px;
    height: 53px;
    left: 104px;
    top: 627px;
    background: #62BF8A;
    border-radius: 8px;
    margin-top: 90px;
}

.formulario {
    display: flex;
    align-items: center;
}

/*Footer*/

.footer {
    display: flex;
    background-color: #A0DAB3;
    padding: 100px;
    justify-content: space-between;
    align-items: flex-start;

}

@media (max-width:768px){
    .footer{
        flex-direction: column;
        align-items: center;
    }
}

.footer p {
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;

}

.titulo-menu-footer {
    font-weight: 700 !important;
    text-align: left !important;

}

.nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #231F20;
    padding: 2px 4px;
}

.contacto-footer {
    display: flex;
    flex-direction: row;

}

.contacto-footer img {
    width: 20px;
    margin-right: 10px;
}

.icono-contacto {
    margin: 10px;
    width: 30px !important;
}


/* Servicios HTML */

.tab-servicios.active {

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    color: #231F20;
    list-style: lower-roman;
    padding-bottom: 10px;
    border-bottom: 2px solid #2E2E36;
}

.tab-servicios {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 22px;
    color: #CCCCCC;
}

.tab-servicios:hover {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 22px;
    color: #A0DAB3;
}


.servicio-venta, .servicios-compra, .servicios-tasaciones, .servicios-alquiler{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 43px;
    text-align: center;
    color: #58585A;
}

.venta-parrafo, .compra-parrafo, .tasaciones-parrafo, .alquiler-parrafo, .asesoramiento-parrafo{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 150%;
    color: #666666;
}

.asesoramiento-title, .alquiler-title{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 150%;
    color: #666666;
}

/*FAQS Html*/

.FAQS-venta{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 43px;
    text-align: light;
    color: #58585A;
    margin-top: 80px;
}

